{% extends 'base.html' %}
{% load staticfiles %}
{%  block header %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
{% block content %}


    <div class="questions">
      <div class="container">

      <!-- wrapper -->
        <div id="wrapper">
          <!-- page-content-wrapper -->
          <div id="page-content-wrapper faq">
            <div class="container-fluid">
              Часто задаваемые вопросы, правила доставки и все такое
            </div>

        </div>
        <!-- /#wrapper -->
      </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
