{% extends 'base.html' %}
{% load staticfiles %}
{%  block header %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}
{% block content %}


    <div class="questions">
      <div class="container">

      <!-- wrapper -->
        <div id="wrapper">
          <!-- sidebar-wrapper -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li>
                <a href="order_help">Как сделать заказ</a>
              </li>
              <li>
                <a href="delivery_help">Правила доставки</a>
              </li>
              <li>
                <a href="help">Часто задаваемые вопросы</a>
              </li>
            </ul>
          </div>
          <!-- /#sidebar-wrapper -->

          <!-- page-content-wrapper -->
          <div id="page-content-wrapper faq">
            <div class="container-fluid">
              <h1>Часто задаваемые вопросы</h1>
              <div class="content">
                <oi>
                  <li>
                    <h4>Какой-то умный вопрос</h4>
                    <p>Подробный, хорошо изложенный и ясный пользователю ответ.</p>
                  </li>
                  <li>
                    <h4>Другой, не менее умный вопрос</h4>
                    <p>Не менее подробный и хорошо изложенный ответ.</p>
                  </li>
                  <li>
                    <h4>Yet another question</h4>
                    <p>Yet another answer.</p>
                  </li>
                </oi>
              </div>
            </div>
          </div>
          <!-- page-content-wrapper -->
            <!-- page-content-wrapper -->
          <div id="page-content-wrapper order">
            <div class="container-fluid">
              <h1>Как сделать заказ</h1>
              <div class="content">
                Здесь будет пошаговая инструкция, возможно даже с картинками.
              </div>
            </div>
          </div>
          <!-- page-content-wrapper -->
            <!-- page-content-wrapper -->
          <div id="page-content-wrapper delivery">
            <div class="container-fluid">
              <h1>Правила доставки</h1>
              <div class="content">
                <h2>Обработка и доставка заказа</h2>
                <p>Всякие там правила</p>
                <h2>Оплата и получение заказа</h2>
                <p>Всякие там оплаты и получения заказа</p>
              </div>
            </div>
          </div>
          <!-- page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
      </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
