{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pharmacy online: Корзина</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">

  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="/">
                <img class="hidden-xs" src="/media/images/logo_main.png" alt="">
                <img class="visible-xs" src="/media/images/logo_small.png" alt="">
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="catalogue">Каталог</a></li>
            <li><a href="cart">Корзина</a></li>
            <li><a href="help">Справка</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center">
      <h1>Корзина</h1>
      <table class="table">
        <thead class="thread-default">
          <tr class="row list-inline columnCaptions">
            <th>Количество</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <td class="quantity">5</td>
            <td class="itemName" align="left">Новокаин</td>
            <td class="price" align="left">150 руб.</td>
            <td>
              <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="quantity">1</td>
            <td class="itemName" align="left"> Назонекс</td>
            <td class="price" align="left">800 руб.</td>
            <td>
              <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          <tr class="row">
            <td class="quantity">2</td>
            <td class="itemName" align="left">Закофальк</td>
            <td class="price" align="left">2000 руб.</td>
            <td>
              <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          <tr class="row totals">
            <td class="itemName">Всего:</td>
            <td class="price">2950 руб.</td>
            <td class="order"> <a class="text-center">ОФОРМИТЬ ЗАКАЗ</a></td>
          </tr>
        </tbody>
      </table>


    </div>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
