.navbar-static-top .nav {
    padding: 15px 0;
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
}

.jumbotron {
    /*TODO прописать нормальынй путь до фона*/
  /*background-image: url("../../media/images/large_placeholder.jpg");*/
  margin-top: -20px;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .input-group {
  position: relative;
  top: 20vh;
}

.footer-wrapper {
  background-color: #148996;
  height: 100px;
  width: 100%;
  margin-top: 30px;
}

.footer-wrapper .container {
  height: 90px;
  line-height: 90px;
}

.footer-wrapper p {
  text-align: center;
}
